<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--注册数据源:C3p0-->
<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="${jdbc.driver}"/>
    <property name="jdbcUrl" value="${jdbc.url}"/>
    <property name="user" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>

</bean>
    <!--注册jdbc属性文件-->
    <context:property-placeholder location="jdbc.properties"/>

    <!--生成sqlsessionFactory对象-->
    <bean id="mysqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="configLocation" value="mybatis.xml"/>

    </bean>

    <!--生成DAO对象-->
    <bean id="studentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="mysqlSessionFactory"/>
        <property name="mapperInterface" value="com.abc.dao.IStudentDao"/>
    </bean>
<!--注册service-->
<bean id="studentService" class="com.abc.service.StudentServiceImpl" >
    <property name="dao" ref="studentDao"/>
</bean>


    <!--注册平台事物管理器-->
    <bean id="myTransationManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"/>
    </bean>
    <!--注册事物通知-->
    <tx:advice id="myAdvice" transaction-manager="myTransationManager">
         <tx:attributes>
             <tx:method name="save*" isolation="DEFAULT" propagation="REQUIRED"/>
             <tx:method name="remove*" isolation="DEFAULT" propagation="REQUIRED"/>
             <tx:method name="modify*" isolation="DEFAULT" propagation="REQUIRED"/>
             <tx:method name="find*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
         </tx:attributes>
    </tx:advice>

    <!--aop配置-->
    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* *..service.*.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="myPointcut"/>
    </aop:config>
</beans>